{% extends 'base.html.twig' %}

{% block title %} Products at `{{ object | default('') }}` {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <h3>Categories</h3>
            {% include '@App/Category/partials/_list_block.html.twig' with {items: categories} %}
        </div>
        <div class="col-md-8">
            <h3>Products at `{{ object | default('') }}`</h3>
            {% include '@App/Product/partials/_table_list.html.twig' with {pagination: productsPager} %}
        </div>
    </div>
{% endblock %}